.button {
    padding: 10px 15px;
    background: white; /* var(--tg-theme-bg-color); */
    color: white; /* var(--tg-theme-button-text-color); */
    border: none;
    outline: none;
    cursor: pointer;
}
