.supportCompleted {
    margin-left: auto;
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    padding: 10px 14px;
    margin: 5px 0;
    border-radius: 100px;
    background-color: rgb(0 111 253);
}

.supportInfo {
    margin-left: auto;
    font-weight: 500;
    font-size: 0.9em;
    padding: 2px 12px;
}

.supportCard {
    background: rgb(240, 246, 255);
    border-radius: 15px;
    padding: 10px 5px;
    color: black;
    margin: 15px 15px 0 15px;
    cursor: pointer;
    text-align: start;
}