.product1 {
    display: block;
    flex-direction: column;
    border-radius: 7px;
    padding: 0;
    margin: 15px 1px 10px;
    background-color: rgb(255 255 255);
}

.productIcon1 {
    object-fit: cover;
    width: 96vw;
    height: 50vh;
    border-radius: 15px;
    border-width: 0px;
    padding: 5px;
    padding-bottom: 0;
}

.title1 {
    padding: 10px 10px 0;
    font-size: 1.6em;
    font-weight: 500;
}

.description1 {
    font-size: 1em;
}

.price1 {
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(0 111 253);
}

.oldPrice1 {
    padding: 0 0 0 5px;
    font-weight: 500;
    font-size: 1em;
    text-decoration: line-through;
    color: gray;
}

.discount1 {
    color: red;
    padding-left: 5px;
    font-size: 1.1em;
}

.prodWeight {
    padding: 10px 0 0 0;
    font-size: 1em;
}

.prodBlock {
    background: rgb(240, 246, 255);
    border-radius: 15px;
    margin: 15px 10px 10px;
    padding: 15px;
}

.prodBlockPrice {
    display: flex;
    align-items: center;
    background: rgb(240, 246, 255);
    border-radius: 15px;
    margin: 15px 10px 10px;
    padding: 15px;
}

.prodOptions {
    /* padding: 0 0 0 5px; */
    font-size: 1em;
    font-weight: 600;
}

.buy-btn {
    margin-left: auto;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    background-color: rgb(0 111 253); /* (--tg-theme-button-color); */
}

.buy-btn:hover {
    background-color: rgb(171, 223, 255);
}

.selectLine {
    display: flex;
    align-items: baseline;
}

.selectPoint {
    margin: 0 10px 15px 5px;
    transform: scale(1.5);
}

.selectText {
    font-size: 1em;
}

.pricePoint {
    margin-left: auto;
    font-weight: 500;
}

.minus-btn {
    margin-right: auto;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    background-color: rgb(0 111 253);
}

.minus-btn:hover {
    background-color: rgb(171, 223, 255);
}

.plus-btn {
    margin-left: auto;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    background-color: rgb(0 111 253);
}

.plus-btn:hover {
    background-color: rgb(171, 223, 255);
}

.amount {
    font-size: 1.3em;
    font-weight: 500;
}

.addToCartLine {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.reviews {
    padding-top: 10px;
    /* padding-left: 5px; */
    font-size: 1.1em;
    font-weight: 600;
}

.noReviews {
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}

.reviewBlock {
    background: rgb(240, 246, 255);
    border-radius: 15px;
    margin: 5px 10px 10px;
    padding: 10px 10px 10px;
}

.reviewBlock1 {
    background: rgb(240, 246, 255);
    border-radius: 15px;
    margin: 5px 10px 10px;
    padding: 1px 10px 10px;
}

.reviewBlock2 {
    border-radius: 15px;
    margin: 10px 0 5px;
    padding: 7px 5px 2px;
}

.itemRating {
    background-color: rgb(0 111 253);
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.ratingAuthor {
    padding: 7px;
    padding-left: 5px;
    margin-right: 2px;
}

.ratingDate {
    padding: 7px;
    margin-left: auto;
    color: gray
}

.ratingDesc {
    padding: 7px 0 5px 5px;
}

.allReviews {
    margin-left: auto;
    background-color: rgb(0 111 253);
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    /* margin-right: 5px; */
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 10px;
}

.review-btn{
    margin: 5px 40px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    background-color: rgb(0 111 253);
}

.review-btn:hover {
    background-color: rgb(171, 223, 255);
}

.optionButton {
    width: 100%;
    display: flex;
    padding-bottom: 5px;
}

.option {
    background-color: lightgray;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    font-size: 1em;
    padding: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.optionactive {
    background-color: rgb(0 111 253);
    border-radius: 10px;
    border-color: rgb(0 111 253);
    border-style: solid;
    font-size: 1em;
    padding: 5px;
    cursor: pointer;
    color: white;
    display: block;
    width: 100%;
}

.reviewsLine {
    display: flex;
    align-items: center;
    margin: 0 5px 7px;
}

.prodLineAmount {
    display: flex;
    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-style: solid;
    border-top-color: lightgray;
    border-top-width: 1px;
    /* margin: 15px 10px 10px; */
    padding: 10px;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

.additionalSpace {
    height: 55px;
}

.add-btn-prod {
    width: 48%;
    border-radius: 10px;
    border-width: 0;
    border-style: solid;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    /* margin: 5px 5px 0 5px; */
    margin-left: auto;
    background-color: rgb(0 111 253); /* rgb(81, 52, 255); */ /* (--tg-theme-button-color); */
}

.addToCartButtonsProd {
    display: flex;
    width: 48%;
    align-items: center;
    border-style: solid;
    border-color: lightgray;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    margin-right: auto;
    /* margin: 5px 5px 0 5px; */
}

.likeIconInfo {
    margin-left: auto;
    transform: scale(1.5);
}

.sticker {
    background-color: pink;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border-width: 0px;
    margin-left: 5px;
}

.stickerTextProd {
    padding: 3.5px 7px 4px;
    font-weight: 500;
    font-size: 0.9em;
    color: white;
}