.header {
    position: sticky; 
    top: 0;
    width: 100%;
    height: max-content;
    display: block;
    align-items: center;
    text-align: justify;
    padding: 0 20px;
    background: white;
    overflow: hidden;
    z-index: 1;
}

.firstLine {
    display: flex;
    padding: 5px 0 0;
}

.secondLine {
    display: flex;
    padding: 0 0 5px 0;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling:touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

.username {
    font-weight: 500;
    margin: 10px 0 10px 5px;
}

.cancel {
    color: rgb(65 159 217); /* (--tg-theme-button-color); */
}

.cancelButton {
    padding: 0;
    margin-left: 0;
    font-size: 1em;
}

.menuButton {
    width: max-content;
    height: 3em;
    background: transparent;
    text-align: start;
    padding: 2px 10px 2px 5px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(65 159 217); /* (--tg-theme-button-color); */
    margin-left: auto;
    cursor: pointer;
}

.menuButton:hover {
    background: rgb(171, 223, 255);
    border-color: rgb(171, 223, 255);
}

.menuIcon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.scroll {
    font-size: 0.9em;
    font-weight: 500;
}

.scroll span {
    cursor: pointer;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 9px 12px;
    text-decoration: none;
}

.scroll span:hover {
    background-color: rgb(171, 223, 255);
    border-radius: 15px;
}

.scroll-selected {
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    padding: 9px 12px;
    background-color: rgb(65 159 217);
    color: white;
    border-radius: 15px;
}

.searchLine {
    display: flex;
    margin: 10px 0;
    background-color: rgb(219, 234, 240);
    align-items: center;
    border-radius: 15px;
}

.searchIcon {
    padding-left: 10px;
}

.searchField {
    margin: 2px 5px 2px 2px;
    padding: 0 5px;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(219, 234, 240);
    border-style: solid;
    background-color: rgb(219, 234, 240);
    outline: none;
}

.searchHeader {
    position: sticky; 
    top: 0;
    width: 100%;
    height: max-content;
    display: block;
    align-items: center;
    text-align: justify;
    padding: 10px 20px 0;
    background: white;
    overflow: hidden;
}

.backButton {
    padding: 0;
    padding-bottom: 11px;
    margin-left: 0;
    font-size: 1em;
}