.product {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: none;
    padding: 0;
    margin: 0 10px 10px 10px;
    width: 150px;
    background-color: white;
}

.img {
    width: 88.25px;
    height: 100px;
    text-align: center;
    align-content: center;
}

.productIcon {
    width: 170%;
    height: 140%;
    align-content: center;
    border-radius: 10px;
    border-width: 0px;
}

.title {
    text-align: start;
    padding: 5px;
    padding-left: 7px;
    padding-top: 45px;
    font-size: 1em;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.2em;
    height: 5.3em;
}

.toCart {
    color: white;
    font-weight: 500;
}

.description {
    color: gray;
    padding-left: 7px;
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.5em;
    height: 3em;
}

.price {
    padding: 5px 0 2px 7px;
    font-weight: 500;
}

.oldPrice {
    padding: 7px 0 0 7px;
    font-weight: 500;
    font-size: 0.8em;
    text-decoration: line-through;
    color: gray;
    line-height: 2em;
    height: 2em;
}

.discount {
    color: red;
    padding-left: 7px;
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
    border-radius: 15px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(65 159 217); /* rgb(81, 52, 255); */ /* (--tg-theme-button-color); */
}

.toInfo {
    cursor: pointer;
}

.addToCartButtons {
    display: flex;
    align-items: baseline;
}

.amountCart {
    font-size: 1.1em;
    font-weight: 400;
}

.minus-cart-btn {
    margin-right: auto;
    width: 30%;
    border-radius: 15px;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    background-color: rgb(65 159 217);
}

.plus-cart-btn {
    margin-left: auto;
    width: 30%;
    padding: 6px;
    border-radius: 15px;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    background-color: rgb(65 159 217);
}