.bannerImg {
    /* width: 88.25px;
    height: 100px; */
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.bannerIcon {
    width: 300px;
    height: 170px;
    /* align-content: center; */
    object-fit: cover;
    border-radius: 15px;
    border-width: 0px;
    padding: 5px;
    padding-bottom: 0;
}